/* fonts */

@import url("https://fonts.googleapis.com/css2?family=Bangers&family=Rye&family=Special+Elite&family=Stint+Ultra+Condensed&display=swap");

html {
  height: 1000px;
  width: 1580px;
}
body {
  background-color: none;
 
}

/* container grid */
.card-table {
  margin-top: 20px;
  display: grid;
  grid-template-columns:
    minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr)
    minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
  grid-template-rows:
    minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr)
    minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
  grid-template-areas:
    "ai ai ac ac ac ac ac ac"
    "ai ai ac ac ac ac ac ac"
    "ai ai ab ab ab ab ab ab"
    "ai ai ab ab ab ab ab ab"
    "ub ub ub ub ub ub ui ui"
    "ub ub ub ub ub ub ui ui"
    "uc uc uc uc uc uc ui ui"
    "uc uc uc uc uc uc ui ui";
  height: 1000px;
  width: 1500px;
}

.AI-infobox {

  grid-area: ai;
  width: 100%;
  height: 100%;
  background-color: #342211;
}
.AI-cardholder {

  grid-area: ac;
  width: 100%;
  height: 100%;
  background-color: SteelBlue;
}
.AI-battlefield {

  grid-area: ab;
  width: 100%;
  height: 100%;
  background-color: CornflowerBlue;
}
.user-infobox {

  grid-area: ui;
  width: 100%;
  height: 100%;
  background-color: #342211;
}
.user-cardholder {

  grid-area: uc;
  width: 100%;
  height: 100%;
  background-color: IndianRed;
 
}
.user-battlefield {

  grid-area: ub;
  width: 100%;
  height: 100%;
  background-color: LightCoral;
}
.handcards{
  display:flex;
}

@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Rye&family=Skranji:wght@400;700&family=Special+Elite&family=Stint+Ultra+Condensed&display=swap');
.handcards{
  display:flex;
  justify-content: flex-end;
}
#card{
  font-family: 'Skranji', cursive;
  margin:10px;
  padding:5px;
  width: 150px;
  height: 200px;
  background-color:#383838;
  border-radius: 10px 10px 10px 10px;
}
.card-NF{
  display:flex;
  justify-content: space-between;
  font-size:16px;
  color:whitesmoke;
}
#card-name{
  color:gold;
  font-size:18px;
}
.card-info{
  width: 150px;
  height: 150px;
}
#card-image{
  width: 150px;
  height: 100px;
  display: block;
  background-color:Orange;
}
#card-details{
  font-size:14px;
  color:gold;
}
.card-AS{
  display:flex;
  justify-content: space-between;
  font-size:16px;
  color: whitesmoke;
}

#card[disabled]
{
  pointer-events: none;
  display:none;
}
/* ======================== */
.handaiCards{
  display:flex;
  justify-content: flex-begin;
}
#aiCard{
  font-family: 'Skranji', cursive;
  margin:10px;
  padding:5px;
  width: 150px;
  height: 200px;
  background-color:#383838;
  border-radius: 10px 10px 10px 10px;
}
.aiCard-NF{
  display:flex;
  justify-content: space-between;
  font-size:16px;
  color:whitesmoke;
}
#aiCard-name{
  color:gold;
  font-size:18px;
}
.aiCard-info{
  width: 150px;
  height: 150px;
}
#aiCard-image{
  width: 150px;
  height: 100px;
  display: block;
  background-color:Orange;
}
#aiCard-details{
  font-size:14px;
  color:gold;
}
.aiCard-AS{
  display:flex;
  justify-content: space-between;
  font-size:16px;
  color: whitesmoke;
}

#aiCard[disabled]
{
  pointer-events: none;
  display:none;
}


#userbattle{
  display:flex;
  justify-content: flex-end;
}
.user-battlefield{
  display:flex;
  justify-content: flex-end;
}
.AI-battlefield{
  display:flex;
  justify-content: flex-begin;
}

#battlebtn{
  width: 300px;
    height: 200px;
}

.userinfo {
  margin:10px;
  font-family: 'Skranji', cursive;
  background-image: url("./image/wood.png");
  background-size: 100% 100%;
  color:whitesmoke;
}

#chara-image{
    width: 300px;
    height: 200px;
    display: block;
    background-color:gold;
}

.aiinfo {
  margin:10px;
  font-family: 'Skranji', cursive;
  background-image: url("./image/wood.png");
  background-size: 100% 100%;
  color:whitesmoke;

}

#ai-chara-image{
    width: 300px;
    height: 200px;
    display: block;
    background-color:Orange;
}

.ending{
  width: 800px;
  height: 800px;
}